body{
  margin: 0;
}

.w-100{
  object-fit: cover;
  height: 500px;
}

.nav-pílulas{
  background-color: black;
  opacity: 0.9;
}

a.logoHeader{
  padding: 10px;
}

.logoHeader{
  object-fit: contain;
  margin-right: auto;
}

.nav-item{
  margin: 0 10px;
}

.navLink{
  color: white;
  font-size: 25px;
}

.navLink:hover{
  text-decoration: none;
}