body{
  margin: 0;
}

.w-100{
  object-fit: cover;
  height: 500px;
}

.justify-content-end{
  background-color: black;
  opacity: 0.9;
}

a.logoHeader{
  padding: 10px;
}

.logoHeader{
  object-fit: contain;
  margin-right: auto;
}

.nav-item{
  margin: 0 10px;
}

.navLink{
  color: white;
  font-size: 25px;
}

.navLink:hover{
  text-decoration: none;
}

.profile{
  margin-left: auto;
  color: white;

  right: 0;
  position: absolute;
  z-index: 999;
}

#signOut{
  color: white;
  border: none;
}

#signOut:hover{
  font-size: larger;
}

button#signOut{
  background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}