.navLink.Novidades.Active{
    text-decoration: underline;
}

.headerNovidades{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerNovidades h1{
    margin: 10px 20px;
}

.noticias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.post{
    padding: 10px;

    width: 400px;
    margin: 10px 10px;

    box-shadow: 5px 5px 5px 5px;
    border-radius: 20px;
}




.post h4{
    text-align: justify;
    text-transform: capitalize;
}