.navLink.Musicas.Active{
    text-decoration: underline;
}

.headerSection{
    margin: 10px 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardMusic{
    margin: 0 10px;
}

.linkTitle{
    color: black;
}
.linkTitle:hover{
    text-decoration: none;
}

section iframe{
    width: 400px;
    height: 200px;
}

section h4{
    text-transform: capitalize;
}

section h4:hover{
    cursor: pointer;
}