.navLink.Musicas.Active{
    text-decoration: underline;
}

.headerSection{
    margin: 10px 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardMusic{
    margin: 0 10px;
}

.headerCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerCard img{
    object-fit: cover;
    width: 30px;
    height: 30px;
}

.headerCard img:hover{
    cursor: pointer;
}

.titleAlbum{
    text-transform: capitalize;
}
    
.infosAndRemove{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#infos{
    border-radius: 50%;
    max-height: 30px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 0.5rem;
}

.linkTitle{
    color: black;
}
.linkTitle:hover{
    text-decoration: none;
}


section iframe{
    width: 400px;
    height: 200px;
}

section h4{
    text-transform: capitalize;
}

section h4:hover{
    cursor: pointer;
}

